@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Martel&family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,900&family=Poppins:wght@500&family=Roboto&family=Tiro+Devanagari+Sanskrit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px, setting a base font size of 10px */
}

body {
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #003366;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border-bottom: 0.2rem solid #003366;
  /* Add an underline effect */
  padding-bottom: 0.5rem;
  line-height: 1.2;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.2);
}

.horizontal-line {
  position: relative;
  height: 1rem;
  background-color: #a3a2a2;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
  margin: 10rem 0;
  border-radius: 2px;
}

.circle {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #3498db;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1), 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3);
}

.circle:nth-child(1) {
  left: 10%;
}

.circle:nth-child(2) {
  left: 30%;
}

.circle:nth-child(3) {
  left: 50%;
}

.circle:nth-child(4) {
  left: 70%;
}

.circle:nth-child(5) {
  left: 90%;
}

.timeline {
  border: 2px solid black;
  box-shadow: 1px 1px 39px 0px rgba(0, 0, 0, 0.6) inset;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
  padding: 11rem;
  border-radius: 2rem;
  background-color: #f2f2f2;
}

.circle-heading {
  position: absolute;
  top: -5rem;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.card {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  display: none;
  border: 1px solid black;
  text-align: center;
  width: 25rem;
  height: 37rem;
  overflow: hidden;
}

.card h3 {
  font-size: 2.8rem;
  text-align: center;
  margin: 1rem;
}

.card img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 1rem;
  border: 1px solid #000;
}

.card p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem;
  color: #000;
  font-weight: 600;
}

.circle:hover .card {
  display: block;
}