@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Martel&family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,900&family=Poppins:wght@500&family=Roboto&family=Tiro+Devanagari+Sanskrit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px, setting a base font size of 10px */
}

body {
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #003366;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border-bottom: 0.2rem solid #003366;
  /* Add an underline effect */
  padding-bottom: 0.5rem;
  line-height: 1.2;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.2);
}

.info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 4rem;
  border: 0.3rem solid blue;
  border-radius: 2rem;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
  margin-bottom: 10rem;
  margin-top: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.info img {
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  border: 0.2rem solid #003366;
  border-radius: 2rem;
  margin: 3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 125rem;
}

td {
  border: 0.2rem solid black;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

th {
  text-align: center;
  border: 0.2rem solid black;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: Poppins;
}

table {
  margin: 5rem;
  margin-left: 10rem;
  box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 2);
}

.tabinf {
  border: 0.2rem solid #003366;
  border-radius: 2rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-left: 3.5rem;
  margin-right: 3rem;
  box-shadow: 0px 0px 10px 0px rgba(74, 144, 226, 4) inset;
}

#smallsatimg {
  width: 70rem;
  max-width: 100%;
  height: 30rem;
}

#comsat {
  width: 100%;
  max-width: 132rem;
  height: 100%;
  max-height: 50rem;
}